<ul class="authors">
    <li>
        <p>Наші автори:</p>
        <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-default">А б в г д Е</button>
            <button type="button" class="btn btn-default">Є ж з і ї Й</button>
            <button type="button" class="btn btn-default">К л м н о П</button>
            <button type="button" class="btn btn-default">Р с т у ф Х</button>
            <button type="button" class="btn btn-default">Ц ч ш щ ю Я</button>
        </div>
    </li>
    <li>
        <p>Зарубіжні автори:</p>
        <div class="btn-group btn-group-lg second">
            <button type="button" class="btn btn-default">A b c d E</button>
            <button type="button" class="btn btn-default">F g h i J</button>
            <button type="button" class="btn btn-default">K l m n o P</button>
            <button type="button" class="btn btn-default">Q r s t U</button>
            <button type="button" class="btn btn-default">V w x y Z</button>
        </div>
    </li>
</ul>