<div class="infoBox" xmlns="http://www.w3.org/1999/html">
    <a target="_blank" href="http://maps.yandex.ua/?text=%D0%9A%D0%9D%D0%A3%20%D1%96%D0%BC.%20%D0%A2.%20%D0%A8%D0%B5%D0%B2%D1%87%D0%B5%D0%BD%D0%BA%D0%B0%20%D0%9D%D0%B0%D1%83%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%B1%D1%96%D0%B1%D0%BB%D1%96%D0%BE%D1%82%D0%B5%D0%BA%D0%B0%20%D1%96%D0%BC.%20%D0%9C.%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%D0%BE%D0%B2%D0%B8%D1%87%D0%B0&sll=30.518421532377882%2C50.438175531816334&sspn=0.11501312255859375%2C0.04286604745532685&z=14&results=20&sctx=BQAAAAEA%2FBoHZp59PkBBX7wXxjRJQK5mnfF9cc0%2FXP%2Buz5z1tT8AAAAAyAAAAAAAAAAAAAAAAAAAAACPAAAAAQ%3D%3D&ll=30.518422%2C50.438176&spn=0.115013%2C0.042866&l=map"><img src="/images/mapInfo.png" width="370" height=auto alt="map" class="shadow" /></a>
    <p>
        &nbsp &nbsp Наукова бібліотека ім. М.Максимовича є структурним підрозділом
        Київського національного університету імені Тараса Шевченка.
        Cьогодні вона є однією з найбільших і найстаріших вузівських бібліотек.
        Фонд бібліотеки налічує 3,5 млн. прим. книг, періодичних видань та
        інших видів друкованої продукції. За змістом він універсальний, має
        видання надруковані 30 мовами світу. У фонді нараховується 1,7 млн. наукової
        та 1,06 млн. навчальної літератури. Щорічно надходить 35-40 тис. нової літератури,
        з них книг - 30 тис., в тому числі близько 20 тис. наукових, 17 тис. підручників
        та навчальних посібників, 5 тис. періодики, в тому числі більше 500 назв книг
        авторів КНУ. Нові надходження виставляються щотижня для перегляду.
        Даний ресурс дасть вам можливість знайти детальну інформацію про необхідний документ,
        який знаходиться в Науковій бібліотеці імені М. Максимовича. Тут представлена інформація
        про книги, наукові статті, брошури, періодичні та електронні видання, дисертації та ін.
    </p>
</div>