<h3>Оберіть автора:</h3>
<div id="accordion">
    <h3>А..</h3>
    <div>

    </div>
    <h3>Б..</h3>
    <div>

    </div>
    <h3>В..</h3>
    <div>

    </div>
    <h3>Г..</h3>
    <div>

    </div>
    <h3>Д..</h3>
    <div>

    </div>
    <h3>Е..</h3>
    <div>

    </div>
</div>
</div>